@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@layer base {
  * {
    @apply border-border outline-ring/50;

    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  html {
    width: 100%;
    height: 100%;
    font-family: Helvetica, Arial, sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-rendering: optimizeLegibility;
    text-size-adjust: 100;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply bg-background font-montserrat;

    width: 100%;
    min-width: 375px;
    height: auto;
    position: relative;
    font-size: 16px;
    line-height: 1.5;
    font-style: normal;
    color: var(--color-black);
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  /* Dynamic colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-btn-foreground: var(--foreground);
  --color-card-foreground: var(--card-foreground);
  --color-card-accent: var(--card-accent);
  --color-card-accent-foreground: var(--card-accent-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  /* Static colors */
  --color-white: #ffffff;
  --color-black: #0e0d0e;
  --color-purple-light: #774CFF;
  --color-yellow-100: #fffaf2;
  --color-yellow: #ffa024;
  --color-green-100: #d1ffbd;
  --color-green-300: #32c232;
  --color-green: #228c22;
  --color-blue-100: #add8e6;
  --color-blue: #0049be;
  --color-red: #ff0000;

  /* Fonts */
  --font-montserrat: var(--font-montserrat);
  --font-geist-mono: var(--font-geist-mono);

  --text-h1: 110px;
  --text-h1--line-height: 110px;
  --text-h1--letter-spacing: 3.3px;
  --text-h1--font-weight: 700;

  --text-h1-mobile: 46px;
  --text-h1-mobile--line-height: 48px;
  --text-h1-mobile--letter-spacing: 3.3px;
  --text-h1-mobile--font-weight: 700;

  --text-h2: 48px;
  --text-h2--line-height: 50px;
  --text-h2--font-weight: 700;

  --text-h2-mobile: 36px;
  --text-h2-mobile--line-height: 38px;
  --text-h2-mobile--font-weight: 700;

  --text-h3: 60px;
  --text-h3--line-height: 60px;
  --text-h3--font-weight: 400;

  --text-h3-mobile: 52px;
  --text-h3-mobile--line-height: 52px;
  --text-h3-mobile--font-weight: 400;

  --text-h4: 32px;
  --text-h4--line-height: 42px;
  --text-h4--letter-spacing: 0.96px;
  --text-h4--font-weight: 700;

  --text-20-caption-bold: 20px;
  --text-20-caption-bold--line-height: 28px;
  --text-20-caption-bold--letter-spacing: 0.6px;
  --text-20-caption-bold--font-weight: 700;

  --text-20-caption: 20px;
  --text-20-caption--line-height: 30px;
  --text-20-caption--letter-spacing: 0.6px;
  --text-20-caption--font-weight: 400;

  --text-16-caption: 16px;
  --text-16-caption--line-height: 24px;
  --text-16-caption--letter-spacing: 1px;
  --text-16-caption--font-weight: 500;

  --text-18: 18px;
  --text-18--line-height: 24px;
  --text-18--font-weight: 400;

  --text-16: 16px;
  --text-16--line-height: 22px;

  --text-14: 14px;
  --text-14--line-height: 18px;
  --text-14--font-weight: 400;
}

:root {
  --spacing: 1px;
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.147 0.004 49.25);
  --card: oklch(0.91 0.0379 272.52);
  --card-foreground: oklch(0.147 0.004 49.25);
  --card-accent: oklch(0.268 0.007 34.298);
  --card-accent-foreground: oklch(0.985 0.001 106.423);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.147 0.004 49.25);
  --primary: oklch(0.216 0.006 56.043);
  --primary-foreground: oklch(0.985 0.001 106.423);
  --secondary: oklch(0.97 0.001 106.424);
  --secondary-foreground: oklch(0.216 0.006 56.043);
  --muted: oklch(0.97 0.001 106.424);
  --muted-foreground: oklch(0.553 0.013 58.071);
  --accent: oklch(0.97 0.001 106.424);
  --accent-foreground: oklch(0.216 0.006 56.043);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.41 0.0607 277.31);
  --input: oklch(0.923 0.003 48.717);
  --ring: oklch(0.709 0.01 56.259);
  --chart-1: oklch(0.53 0.2931 293.94);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0.001 106.423);
  --sidebar-foreground: oklch(0.147 0.004 49.25);
  --sidebar-primary: oklch(0.216 0.006 56.043);
  --sidebar-primary-foreground: oklch(0.985 0.001 106.423);
  --sidebar-accent: oklch(0.97 0.001 106.424);
  --sidebar-accent-foreground: oklch(0.216 0.006 56.043);
  --sidebar-border: oklch(0.923 0.003 48.717);
  --sidebar-ring: oklch(0.709 0.01 56.259);
}

.dark {
  --background: oklch(0.1 0.1 290);
  --foreground: oklch(0.985 0.001 106.423);
  --card: oklch(0.24 0.1218 279.06);
  --card-foreground: oklch(0.985 0.001 106.423);
  --card-accent: oklch(0.31 0.1026 282.42);
  --card-accent-foreground: oklch(0.627 0.265 303.9);
  --popover: oklch(0.18 0.0588 281.87);
  --popover-foreground: oklch(0.985 0.001 106.423);
  --primary: oklch(0.923 0.003 48.717);
  --primary-foreground: oklch(0.216 0.006 56.043);
  --secondary: oklch(0.268 0.007 34.298);
  --secondary-foreground: oklch(0.985 0.001 106.423);
  --muted: oklch(0.55 0.0358 279.3);
  --muted-foreground: oklch(0.709 0.01 56.259);
  --accent: oklch(0.49 0.0727 276.58);
  --accent-foreground: oklch(0.985 0.001 106.423);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(0.49 0.0727 276.58);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.553 0.013 58.071);
  --chart-1: oklch(0.53 0.2931 293.94);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.216 0.006 56.043);
  --sidebar-foreground: oklch(0.985 0.001 106.423);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0.001 106.423);
  --sidebar-accent: oklch(0.268 0.007 34.298);
  --sidebar-accent-foreground: oklch(0.985 0.001 106.423);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.553 0.013 58.071);
}